<form ng-show="shouldShowEditing()" role="form" name="editForm">
	<div class="messages">
		<span class="message-alert">
			Edit this bookmark
		</span>
	</div>
	<input type="text" ng-model="editedBookmark.title" required>
	<input type="text" ng-model="editedBookmark.url" required>
	<select class="editSelect" ng-model="editedBookmark.category" required>
		<option value="" disabled>Category?</option>
		<option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
	</select>
	<input type="submit" ng-click="updateBookmark(editedBookmark)" value="Submit">
	<input type="button" ng-click="cancelEditing()" value="cancel">
	<input type="button" ng-click="deleteBookmark(currentBookmark)" value="delete">
	<div class="messages">
		<span class="message-alert--valid"
					ng-show="editForm.$valid">
			Your bookmark is valid!
		</span>
		<span class="message-alert--invalid"
					ng-show="editForm.newBookmarkTitle.$dirty 
								&& editForm.newBookmarkTitle.$error.required">
			Your bookmark needs a title
		</span>
		<span class="message-alert--invalid"
					ng-show="editForm.newBookmarkUrl.$dirty
								&& editForm.newBookmarkUrl.$error.required">
			Your bookmark needs a url
		</span>
		<span class="message-alert--invalid"
					ng-show="editForm.newBookmarkCategory.$dirty
								&& editForm.newBookmarkCategory.$error.required">
			Your bookmark needs a category
		</span>
	</div>
</form>