		<form ng-show="edit.shouldShowEditing()" role="form" name="edit.form">
			<div class="messages">
				<span class="message-alert">Edit this bookmark</span>
			</div>
			<input type="text"
						 ng-model="edit.editedBookmark.title"
						 name="editedBookmarkTitle"
						 required>
			<input type="text"
						 ng-model="edit.editedBookmark.url"
						 name="editedBookmarkUrl"
						 required>
			<select class="editSelect" ng-model="edit.editedBookmark.category" name="editedBookmarkCategory" required>
				<option value="" disabled>Category?</option>
				<option ng-repeat="category in edit.datastore.categories" value="{{category.name}}">{{category.name}}</option>
			</select>
			<input type="submit" ng-disabled="edit.form.$invalid" ng-click="edit.updateBookmark(editedBookmark)" value="Submit">
			<input type="button" ng-click="edit.cancelEditing(edit.form)" value="cancel">
			<input type="button" ng-click="edit.deleteBookmark(currentBookmark)" value="delete">
			<div class="messages">
				<span class="message-alert--valid"
							ng-show="edit.form.$valid && edit.form.$dirty">
					Your bookmark is valid!
				</span>
				<span class="message-alert--invalid"
							ng-show="edit.form.editedBookmarkTitle.$error.required && edit.form.editedBookmarkTitle.$touched">
					Your bookmark needs a title
				</span>
				<span class="message-alert--invalid"
							ng-show="edit.form.editedBookmarkUrl.$error.required && edit.form.editedBookmarkUrl.$touched">
					Your bookmark needs a url
				</span>
				<span class="message-alert--invalid"
							ng-show="edit.form.editedBookmarkCategory.$error.required && edit.form.editedBookmarkCategory.$touched">
					Your bookmark needs a category
				</span>
			</div>
		</form>