		<form ng-show="create.shouldShowCreating()" role="form" name="create.form">
			<div class="messages">
				<span class="message-alert">Add a new bookmark</span>
			</div>
			<input type="text" 
						 placeholder="Title?"
						 ng-model="create.newBookmark.title"
						 name="newBookmarkTitle"
						 required>
			<input type="text"
						 placeholder="URL?"
						 ng-model="create.newBookmark.url"
						 name="newBookmarkUrl"required>
			<select class="addSelect" ng-model="create.newBookmark.category" name="newBookmarkCategory" required>
				<option value="" disabled>Category?</option>
				<option ng-repeat="category in create.datastore.categories" value="{{category.name}}">{{category.name}}</option>
			</select>
			<input type="submit" ng-disabled="create.form.$invalid" ng-click="create.createBookmark()" value="Submit">
			<input type="button" ng-click="create.cancelCreating()" value="cancel">
			<div class="messages">
				<span class="message-alert--valid"
							ng-show="create.form.$valid">
					Your bookmark is valid!
				</span>
				<span class="message-alert--invalid"
							ng-show="create.form.newBookmarkTitle.$error.required && create.form.newBookmarkTitle.$touched">
					Your bookmark needs a title
				</span>
				<span class="message-alert--invalid"
							ng-show="create.form.newBookmarkUrl.$error.required && create.form.newBookmarkUrl.$touched">
					Your bookmark needs a url
				</span>
				<span class="message-alert--invalid"
							ng-show="create.form.newBookmarkCategory.$error.required && create.form.newBookmarkCategory.$touched">
					Your bookmark needs a category
				</span>
			</div>
		</form>